/* Estilos para los bloques personalizados */
/* Oculta el bloque personalizado y muestra un placeholder */

[class*="wp-block-acf-"] .custom-block-content {
    display: none;
}

[class*="wp-block-acf-"] .custom-block-content-visible {
    display: block;
}

[class*="wp-block-acf-"] .components-placeholder { 
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Oculta el titulo del gform en el panel */
.gform_heading {
    display: none !important;
}
